<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
  	<mappers>
    	<mapper resource="edu/tl/dao/userDao.xml"/>
    	<mapper resource="edu/tl/dao/bookDao.xml"/>
    	<mapper resource="edu/tl/dao/uCarDao.xml"/>
  	</mappers>
</configuration>