<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"        
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xmlns:mvc="http://www.springframework.org/schema/mvc"     
   xmlns:p="http://www.springframework.org/schema/p"         
    xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd    
            http://www.springframework.org/schema/context     
            http://www.springframework.org/schema/context/spring-context.xsd    
            http://www.springframework.org/schema/mvc    
            http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 
    
    
    <!--放开MVC注解驱动  -->
    <mvc:annotation-driven/>
     <!--在加载此配置文件时 ，会去解析  对应包下面的  带注解的类  -->
    <context:component-scan base-package="edu.tl.*"></context:component-scan>
    <!--创建视图解析器 -->
    
    <bean 
    class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
    p:prefix="/" p:suffix=".jsp"
    >
    </bean>
    
</beans>