<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
 <servlet>
  	<servlet-name>applicationContext</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>applicationContext</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
 <servlet>
  	<servlet-name>CheckCodeServlet</servlet-name>
  	<servlet-class>edu.tl.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckCodeServlet</servlet-name>
  	<url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
 
 
  <!-- <context-param>
  	<param-name>pageSize</param-name>
  	<param-value>6</param-value>
  </context-param>
  <servlet>
  	<servlet-name>uims</servlet-name>
  	<servlet-class>edu.tl.servlet.userInfoManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>uims</servlet-name>
  	<url-pattern>/uims</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckCodeServlet</servlet-name>
  	<servlet-class>edu.tl.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckCodeServlet</servlet-name>
  	<url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>scs</servlet-name>
  	<servlet-class>edu.tl.servlet.shoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>scs</servlet-name>
  	<url-pattern>/scs</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>bis</servlet-name>
  	<servlet-class>edu.tl.servlet.bookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bis</servlet-name>
  	<url-pattern>/bis</url-pattern>
  </servlet-mapping> -->
</web-app>